{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="container">
  <h3>Information Technology semester wise study materials</h3>  

  <div class="card-columns">
    <div class="card">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item active">semester 1</li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 1</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 2</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 3</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 4</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 5</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 6</a></li>
        </ul>
        </div>
    </div>
    
    <div class="card">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item active">semester 2</li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 1</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 2</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 3</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 4</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 5</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 6</a></li>
        </ul></div>
    </div>
    
    <div class="card ">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item active">semester 3</li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 1</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 2</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 3</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 4</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 5</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 6</a></li>
        </ul></div>
    </div>
    <div class="card">
    </div>
   
    <div class="card">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item active">semester 4</li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 1</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 2</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 3</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 4</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 5</a></li>
          <li><a href="{% url 'cse_pdf' %}" class="list-group-item list-group-item-action">Subject 6</a></li>
        </ul> </div>
    </div>
  </div>




{% endblock %}