{% extends 'index.html' %}
{% block content %}    
  <!-- Cards -->
  {% load static %}
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="{% static 'images/Permission.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Permission</h5>
              <p class="card-text">First click get permission button and then click view and view your permission letter details.</p>
              {% if not request.user.is_staff %}

              <a href="{% url 'permission' %}" class="btn btn-primary">Get permission</a>
              
              {% endif %}

              <a href="{% url 'viewper' %}" class="btn btn-primary">View</a>


            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'images/payment.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Fees Detail</h5>
              <p class="card-text">First click send request button and then click view and view your fees details.</p>
              <a href="{% url 'payment' %}" class="btn btn-primary">Send request</a>
              <a href="{% url 'viewpay' %}" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'images/exam.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Time Table</h5>
              <p class="card-text">Click and download Anna University time table </p>
              <a href="{% url 'timetable' %}" class="btn btn-primary">Get Timetable</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'images/study.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Study Material</h5>
              <p class="card-text">To click and download study material for all department prepared by mec</p>
              <a href="{% url 'material' %}" class="btn btn-primary">Get Material</a>
            </div>
          </div>
        </div>
      </div>
  </div>

{% endblock %}