{% extends 'index.html' %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">IT</h5>
          <p class="card-text">Information Technology exam study material </p>
          <a href="{% url 'it' %}" class="btn btn-primary">Download</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">ECE</h5>
          <p class="card-text">Electrical and communication engineering exam study material</p>
          <a href="{% url 'ece' %}" class="btn btn-primary">Download</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CSE</h5>
          <p class="card-text">Computer science engineering exam study material</p>
          <a href="{% url 'cse' %}" class="btn btn-primary">Download</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">EEE</h5>
          <p class="card-text">Electrical and electronics engineering exam study material</p>
          <a href="{% url 'eee' %}" class="btn btn-primary">Download</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">MECH</h5>
            <p class="card-text">Mechanical engineering exam study material</p>
            <a href="{% url 'mech' %}" class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>
  </div>
{% endblock %}